In [2]:
import pandas as pd
import numpy as np

In [3]:
good_jokes = pd.read_csv('../Data_preprocessing_classification/data/good_jokes_eng.csv')

In [4]:
good_jokes

,Unnamed: 0,0,coords
0,0,narrate documentary narrator hear say cu...,0.00154386 0.00014143 -0.00151886 -0.00130...
1,1,guy walk bar guy duck,-0.00417712 -0.00199492 0.00112089 0.00326...
2,2,musician arrest get,-0.00079136 -0.00211433 -0.00363464 -0.00109...
3,3,blonde die rake leaf fell tree,-2.35707821e-04 1.38430493e-03 -2.29174319e...
4,4,son get tattoo heart spade club diamond...,-0.01986998 0.01277871 -0.06461708 0.06051...
...,...,...,...
44855,44855,man trash man treasure say apparently w...,2.24968059e-01 -7.50423715e-01 -2.79795515e...
44856,44856,realize sex life movie habit stick lean...,0.00126135 0.00177896 -0.00152884 0.00543...
44857,44857,confront messy baker always walk eggshell,-0.00101516 -0.00116565 -0.00163726 -0.00121...
44858,44858,cop say cop investigate crime scene far...,-2.60445281e-03 -1.66429129e-03 1.77612649e...
44859,44859,bunny say bunny sale carrot store,-0.00200838 -0.00554931 0.0062399 0.00393...